@model TEsteNN.Models.EstudantesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Cursos)</dt>
        <dd>
            @if (Model.Cursos != null)
            {
                foreach (var item in Model.Cursos)
                {
                    if (item.Checked)
                    {
                        <div>
                            <span class="glyphicon glyphicon-list-alt"></span><Text>&nbsp;</Text>
                            @item.Nome
                        </div>
                    }
                }
            }
            else
            {
                <span class="glyphicon glyphicon-list-alt"></span><text>Sem Cursos Registrados</Text>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EstudanteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
